export APP_NAME="$(basename "${PWD}")"

export GIT_COMMIT="$(git rev-parse HEAD)"
export GIT_BRANCH="$(git rev-parse --abbrev-ref HEAD)"

export CHART_VERSION="0.1.0-main"
export IMAGE_PLATFORMS="linux/amd64,linux/arm64"
export IMAGE_TAG="${GIT_BRANCH}"
export REGISTRY="docker.io/sanselme"

export CLUSTER_NAME="hello-cluster"
