[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Demo app
[access "refs/*"]
	owner = group user/Schubert Anselme (sanselme)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Schubert Anselme (sanselme)
	label-Verified = -1..+1 group user/Schubert Anselme (sanselme)
	push = group user/Schubert Anselme (sanselme)
	read = group user/Schubert Anselme (sanselme)
	rebase = group user/Schubert Anselme (sanselme)
	removeReviewer = group user/Schubert Anselme (sanselme)
	submit = group user/Schubert Anselme (sanselme)
[access "refs/heads/*"]
	create = group user/Schubert Anselme (sanselme)
	push = +force group user/Schubert Anselme (sanselme)
	pushMerge = group user/Schubert Anselme (sanselme)
	read = group user/Schubert Anselme (sanselme)
[access "refs/tags/*"]
	push = group user/Schubert Anselme (sanselme)
	push = +force group user/Schubert Anselme (sanselme)
